{% extends "base.html" %}
{% import 'components/wallpaper.html' as wallpaper %}

{% block title %}
Home
{% endblock %}

{% block main %}

{{ wallpaper.wallpaper(title='Would you have survived The Titanic?', lead='Know this with the magic of machine learning', type='main') }}

<div class="content-container">
    <h2>Lorem ipsum</h2>
    <p class="lead">Lorem ipsum</p>
    <p>Lorem ipsum dolor asimet</p>
</div>

<div class="content-container">
    <h2>Lorem ipsum</h2>
    <p class="lead">Lorem ipsum</p>
    <p>Lorem ipsum dolor asimet</p>
</div>

{{ wallpaper.wallpaper(title='Would you have survived The Titanic?', lead='Know this with the magic of machine learning', type='main', img='underwater.jpg') }}
{% endblock %}