{% extends "base.html" %}

{% block title %}
Plots
{% endblock %}

{% block main %}

<div class="content-container">
    <h2>Statistics of the passengers</h2>
    <p class="lead"> Here you can find interesting data about the passengers of The Titanic </p>

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#class">By class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#age">By age</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#sex">By sex</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#family">By family members</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="class">
                <img src="{{ url_for('static', filename='img/by_class/psg_data_by_class_bar_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_class/psg_data_by_class_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_class/psg_survived_by_class_pie_chart.jpg') }}"
                    alt="..." class="plot-img">
                <img src="{{ url_for('static', filename='img/by_class/psg_died_by_class_pie_chart.jpg') }}" alt="..."
                    class="plot-img">

                <!-- <img src="../../plot_images/by_class/psg_data_by_class_bar_chart.jpg" alt="..."> -->
            </div>
            <div class="tab-pane fade" id="age">
                <img src="{{ url_for('static', filename='img/by_age/psg_data_by_age_hist_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_age/psg_survived_by_age_hist_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_age/psg_died_by_age_hist_chart.jpg') }}" alt="..."
                    class="plot-img">
            </div>
            <div class="tab-pane fade" id="sex">
                <img src="{{ url_for('static', filename='img/by_sex/psg_data_by_sex_bar_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_sex/psg_data_by_sex_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_sex/psg_survived_by_sex_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_sex/psg_died_by_sex_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
            </div>
            <div class="tab-pane fade" id="family">
                <img src="{{ url_for('static', filename='img/by_family/psg_data_by_family_hist_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_family/psg_data_by_family_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
                <img src="{{ url_for('static', filename='img/by_family/psg_survived_by_family_pie_chart.jpg') }}"
                    alt="..." class="plot-img">
                <img src="{{ url_for('static', filename='img/by_family/psg_died_by_family_pie_chart.jpg') }}" alt="..."
                    class="plot-img">
            </div>
        </div>
    </div>
</div>

{% endblock %}