{% macro wallpaper(img='cruise-ship.jpg', title='placeholder', lead='lead placeholder', type=None) -%}
<div class="wallpaper-container">
    <img src="../../static/img/{{img}}" alt="{{img}}" class="wallpaper"> <br>
    <div class="wallpaper-text">
        <h1> {{ title }} </h1> <br>
        <p class="lead"> {{ lead }} </p> <br>

        {% if type == 'main' %}
        <a class="btn btn-lg btn-success" href="{{ url_for('predictions_page') }}" role="button">Get your prediction</a>
        {% endif %}
    </div>
</div>
{%- endmacro %}